#debut {
    display: flex;
    margin-bottom: 30px;
}

#id_input {
    background-color: black;
    color: greenyellow;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 40px;
}

button {
    width: 50px;
}

#id_0,
#egal {
    width: 100px;
}

/* .test {
    height: 50px;
    width: 100px;
    font-size: 40px;
} */